<div class="message-container">
    <div class="users-list">
      <h2>Friends</h2>
      <ul>
        @for (user of users; track user) {
          @if(user.id !== Me.id){
            <li (click)="selectUser(user)" [class.selected]="user === selectedUserOrGroup">
              {{ user.username }}
            </li>
          }
        }
      </ul>

      <h2>Groups <mat-icon (click)="openDialogWithRef(dialogGroup)"class="icon-add-group">add_circle</mat-icon></h2> 
      <ul>
        @for (group of groups; track group) {
            <li (click)="selectGroup(group)" [class.selected]="group === selectedUserOrGroup">
              {{ group.name }}
            </li>
          
        }
      </ul>
    </div>
  
    <div class="messages">
      @if(isUserSelected){
        <h2> <mat-icon class="icon">supervised_user_circle</mat-icon> {{ selectedUserOrGroup?.username }}</h2>
      }@else{
        <h2> <mat-icon class="icon">supervised_user_circle</mat-icon> {{ selectedUserOrGroup?.name }} <button mat-button [matMenuTriggerFor]="menu"><mat-icon class="icon-menu">more_horiz</mat-icon></button></h2>
      }
      
      @if (selectedUserOrGroup) {
        <div>
          @for (message of getConversationWithUser(selectedUserOrGroup); track message) {
            <div class="message" [class]="message.fromUserId === Me.id?'sent':'received'">
              <div class="message-details">
                @if(message.fromUserId==Me.id){
                  <span class="message-author">You</span>
                }@else {
                  @if(isUserSelected){
                    <span class="message-author">{{ selectedUserOrGroup.username }}</span>
                  }@else{
                    <span class="message-author">{{ getUserById(message.fromUserId).username }}</span>
                  }
                  
                }
                
                <span class="message-date">{{ formatDate(message.sendAt) }} 
                  @if(Me.id==message.fromUserId){
                    <mat-icon [matMenuTriggerFor]="menuMessage" (click)="selectMessage(message.id)" class="icon-menu">more_horiz</mat-icon>
                  }
                </span>
              </div>
              <div class="message-text">{{ message.message }}</div>
            </div>
          }
        </div>
        <div class="message-input">
          <input [(ngModel)]="newMessage" placeholder="Type a message..." />
          <button (click)="sendMessage()">Send</button>
        </div>
      }@else {
        <div>
          <p>Select a user to view the conversation.</p>
        </div>
      }
    </div>
</div>
  

<!-- Group Dialog Template -->
<ng-template #dialogGroup>
  <h2 mat-dialog-title>Add a new Group</h2>
  <mat-dialog-content class="dialog-content" align="center">

    <mat-form-field class="dialog-form-field label">
      <mat-label>group name</mat-label>
      <input matInput [(ngModel)]="groupName">
    </mat-form-field>

    <mat-dialog-actions align="end" class="dialog-label">
      <button mat-flat-button matDialogClose color="primary" (click)="createGroup()">OK</button>
      <button mat-flat-button matDialogClose >Cancel</button>
    </mat-dialog-actions>

  </mat-dialog-content>
</ng-template>

<!-- Add User in Group Dialog Template -->
<ng-template #addUserGroup>
  <h2 mat-dialog-title>Add a user in {{selectedUserOrGroup.name}}</h2>
  <mat-dialog-content class="dialog-content" align="center">

    <mat-form-field class="dialog-form-field label">
      <mat-label>choose an user</mat-label>
      <mat-select matNativeControl [(ngModel)]="userToAddInGroupId">
        @for(user of usersNotInGroup; track user){
          <mat-option [value]="user.id">{{user.username}}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-dialog-actions align="end" class="dialog-label">
      <button mat-flat-button matDialogClose color="primary" (click)="addUserInGroup()">OK</button>
      <button mat-flat-button matDialogClose >Cancel</button>
    </mat-dialog-actions>

  </mat-dialog-content>
</ng-template>

<!-- Menu Group -->
<mat-menu #menu="matMenu">
  @if( !isUserSelected && Me.id == selectedUserOrGroup.creatorId){
    <button mat-menu-item (click)="openDialogWithRef(addUserGroup)">Add User</button>
    <button mat-menu-item (click)="deleteGroup(this.selectedUserOrGroup.id)">Delete Group</button>
  }@else {
    <button mat-menu-item (click)="quitGroup()">Quit Group</button>
  }
  <button mat-menu-item (click)="getUsersByGroup(this.selectedUserOrGroup.id); openDialogWithRef(userList)">Members</button>
</mat-menu>

<!-- Menu Message -->
<mat-menu #menuMessage="matMenu">
  <button mat-menu-item (click)="deleteMessage()"><mat-icon style="color:red">delete</mat-icon></button>
</mat-menu>

<!-- Dialog user list -->
<ng-template #userList>
  <h2 mat-dialog-title>{{selectedUserOrGroup.name }} - {{formatDateWithoutTime(selectedUserOrGroup.createdAt)}}</h2>
  <mat-dialog-content class="dialog-content" align="center">
    <h3>Admin</h3>
    <mat-list>
      <mat-list-item>
        @if(Me.id===selectedUserOrGroup.creatorId){
          <span matListItemTitle>You</span>
        }@else {
          <span matListItemTitle>{{getUserById(selectedUserOrGroup.creatorId).username}}</span>
        }
        
      </mat-list-item>
    </mat-list>
    <h3>Members list</h3>
    <mat-list>
      @for(user of usersInGroup; track user){
        <mat-list-item>
          @if(Me.id===user.id){
            <span matListItemTitle>You</span>
          }@else {
            <span matListItemTitle>{{user.username}}</span>
          }
        </mat-list-item>
      }
    </mat-list>
    
  </mat-dialog-content>
</ng-template>